body {
  padding: 0;
  margin: 0;
}

.wrapper {
  display: relative;
  height: 100%;
  width: 100%;
  gap: 0;
  margin: 0;
  padding: 0;
  border: none;
}

canvas {
  position: relative;
  height: 100%;
  width: 90%;
  padding: 0;
  margin-right: 0vw;
  border: 0;
  z-index: 1;
}

.info-hidden {
  animation: fadeOut .8s forwards;
  animation-delay: .2s;
}

.scroll-info {
  animation: fadeOut forwards 1s infinite
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    height: 0;
  }
}

.text {
  position: absolute;
  font-size: 10%;
  font-family: Arial, Helvetica, sans-serif;
  pointer-events: none;
  color: white;
  text-shadow: -4px 0 4px black, 0 4px 4px black, 4px 0 4px black, 0 -4px 4px black;
  opacity: 1;
  line-height: 1.5em;
  z-index: 2;
}

#zoom {background-image: url(images/zoom-in-icon.svg);}
#navigate {background-image: url(images/four-corners-arrows-icon.svg);}
#sea-level {background-image: url(images/deep-water-icon.svg);}

.icon {
  padding-left: 2rem;
  list-style: none;
  background-size: 1.6rem 1.6rem;
  background-repeat: no-repeat;
  background-position-y: .25em;
}

li {
  padding-left: 50px;
  text-indent: .5em;
}

li.icon::marker {
  height: 1em;
  vertical-align: middle;
  
}

.text img {
  height: 1.2em;
  vertical-align: -12.5%;
  box-shadow: -4px 0 10px black, 0 4px 10px black, 4px 0 10px black, 0 -4px 10px black;
  border-radius: 0.25em;
  background-color: black;
}

#navigation-info {
  background-color: rgb(30,30,30);
  box-shadow: 0 0 2em rgb(255,255,150);
  border-radius: 10%;
  opacity: .75;
  padding: 5%;
  width: 50%;
  text-align: left;
  height: 50%;
  top: 15%;
  left: 15%;
  font-size: 2vw; 
}

#depthDisplay {
  top: 90%;
  left: 45%;
  transform: translate(-50%,-50%);
}

#frameRate {
  font-size: 3vh;
  top: 10%;
  left: 12%;
}

#sea-level-div {
  position: absolute;
  top: 0;
  left: 90vw;
  width: 10%;
}

.vertical-slider {
  /*position: absolute;
  left: 90vw;*/
  writing-mode: vertical-lr;
  appearance: none;
  direction: rtl;
  height: 100%;
  width: 100%;
  border: none;
  margin: 0;
  padding: 0;
  z-index: 2;
}

.vertical-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8vw;
  position: auto;
  background-image: linear-gradient(white,rgb(200,200,255),blue,rgb(255,70,70), rgb(230,0,50),rgb(255,70,70), blue,rgb(200,200,255),white);
  box-shadow: 0 0 20px white;
  border: none;
  cursor: pointer;
  z-index: 2;

}

.vertical-slider::-webkit-slider-runnable-track {
  appearance: none;
  width: 100%;
  border: none;
  background-image: linear-gradient(to right,white,rgb(200,200,255),blue,rgb(255,70,70), rgb(230,0,50),rgb(255,70,70), blue,rgb(200,200,255),white);
  box-shadow: 0 0 20px white;
  border: none;
  padding: 0;
  margin: 0;
  z-index: 1;
}

#scroll-info {
  animation: fadeOut backwards .8s infinite;
  position: absolute;
  width: 80%;
  top: 52.38%;
  transform: translateY(-50%);
  justify-self: center;
  left: 10%;
  z-index: 3;
}